#supportWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #5a93d6;
}

#supportHero {
  background-color: #387ed1;
  color: #fff;
}

#supportHero a {
  color: #fff;  
}

#supportHero input {
  width: 100%;
  padding: 15px 50px 15px 15px;
  font-size: 1.05em;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  color: #333;
}

.input-container {
  position: relative;
  margin-top: 20px;
}

.input-container i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  font-size: 1.2rem;
}

.support-link {
  margin-right: 20px;
  text-decoration: none;
}

.support-link:hover {
  color: #f0f0f0;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #273442 !important;

}